/apple_buybacks.png
/apple_buybacks_vs_price.png
/applestock.csv
/asset_comparison.png
/asset_comparison_with_rf_prediction.png
/bitcoin_pred_1650.png
/bitcoin_pred_1653.png
/bitcoin_prediction_20250611_163802.png
/bitcoin_prediction_20250611_164312.png
/day2internship.py
/predictionofbitcoin
/test.py
/tradingproject1.py